{% for promo in ads %}
{% autoescape off %}
<P class="active-subheader"><B><A href="{{ promo.link|escape }}">{{ promo.title|escape }}</A></B></P>
<DIV class="feed-left-summary">
  {{ promo.summary|escape }}
  <H6>{{ promo.advert|escape }} · {{ promo.erid|escape }}</H6>
</DIV>
{% endautoescape %}
{% empty %}
<P class="active-subheader"><B>Здесь могла быть ваша реклама</B></P>
<DIV class="feed-left-summary">
  Для деловых предложений свяжитесь по эл. почте:
  <BR><A href="mailto:tinelix@mail.ru">tinelix(at)mail.ru</A>
</DIV>
{% endfor %}