<CENTER>
{% for banners in partners %}
{% autoescape off %}
<A href="{{ banners.link|escape }}"><IMG src="{{ banners.src }}" width="88" height="31" alt="{{ banners.name }}"></IMG></A>
<BR>
{% endautoescape %}
{% empty %}
<P class="vertical-banner"><A href="http://narodweb.ru" class="vertical-banner"><IMG src="static/images/banners/narodweb.gif" width="88" height="31" alt="Народное достояние Рунета"></IMG></A>
<P class="vertical-banner"></P><A href="http://veselcraft.ru"><IMG src="static/images/banners/vc.gif" width="88" height="31" alt="Veselcraft"></IMG></A>
{% endfor %}
<P class="feed-bottom-link"><A href="banners">Добавить кнопку на сайт</A></P>
</CENTER>