@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
}

a, a:visited {
    text-decoration: none;
    color: #399cde;
}

.menubar {
    box-shadow: #0000004f 0px 4px 12px 2px;
    margin: 0 -6px 0 -6px;
    padding: 0 6px 0 6px;
    background-color: #399cde;
}

.menu {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    max-width: 1000px;
    justify-content: space-between;
}

.menu .site-menu {
    display: inline-flex;
}

.menu .site-menu a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.1s;
}

.menu .links {
    display: none;
}

.menu .links.open {
    display: block !important;
    position: absolute;
    background: #ffffff8b;
    right: calc(50% - 500px);
    top: 56px;
    border-radius: 15px;
    box-shadow: #0000004f 0px 4px 12px 2px;
    backdrop-filter: blur(4px);
}

.menu .site-menu .open {
    backdrop-filter: blur(4px);
}

.menu .links a {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.1s;
}

.logo img {
    filter: invert();
}

.menu-icon {
    display: none;
}

.menu-icon img {
    filter: invert();
}

.menu-icon-show {
    display: block;
}

.menu-icon-show img {
    filter: invert();
}

.content {
    display: flex;
	max-width: 1000px;
	height: calc(100vh - 75px);
	margin: 0 auto;
	overflow: hidden;
    padding: 33px 8px 0px 8px;
    flex-direction: column;
}

.content.center-this-mf {
    justify-content: center;
}

.content.text {
    overflow: auto;
}

.homepage-content {
    display: inline-flex;
}

.homepage-content iframe {
    margin-right: 2vw;
    width: 256vh;
    height: 50vh;
    max-width: 480px;
    max-height: 270px;
}

.list {
    margin: 0 8px 0 8px;
    background-color: white;
    border-radius: 15px;
    box-shadow: #0000004f 0px 4px 12px 2px;
}

.list a {
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.1s;
}

.list a:hover {
    background-color: rgba(0,0,0,0.15);
}

.subtitle-text {
    color: #0000008f;
}

.photo-list {
    text-align: center;
}

.photo-list img {
    border: 3px solid rgb(221, 103, 0);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.footer {
    background: #0000001f;
    padding: 8px;
    font-size: 11pt;
    border-radius: 15px;
}

.accent-color {
    color: #399cde
}

.new-year-footer {
    border-radius: 15px;
    padding: 10px;
    background: repeating-linear-gradient(140deg, #f46a611f 5px, #e3e3581f 5px, #87f96e1f 5px)
}

.medium-font {
    font-weight: 500;
}

@media (max-width: 1000px) {
    .menu .links a {
        font-size: 16px;
    }
    .menu .site-menu a {
        font-size: 16px;
    }
    .menu .links.open {
        display: block !important;
        position: absolute;
        background: #ffffff8b;
        right: 4px;
        top: 56px;
        border-radius: 15px;
        box-shadow: #0000004f 0px 4px 12px 2px;
        backdrop-filter: blur(4px);
    }
    .menu.site-menu.open {
        backdrop-filter: blur(4px);
    }
    .content {
        display: flex;
        padding: 8px;
        overflow: hidden;
        flex-direction: column;
        padding: 33px 8px 0px 8px;
    }
}

@media (max-width: 700px) {
    .menu .links {
        display: none;
    }

    .menu .site-menu {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-right: 8px;
    }

    .menu .links.open {
        display: block !important;
        position: absolute;
        background: #ffffff8b;
        right: 4px;
        top: 56px;
        border-radius: 15px;
        backdrop-filter: blur(4px);
    }

    .menu .site-menu.open {
        display: block !important;
        position: absolute;
        background: #ffffff8b;
        left: 10px;
        top: 56px;
        border-radius: 15px;
        box-shadow: #0000004f 0px 4px 12px 2px;
        backdrop-filter: blur(4px);
    }

    .homepage-content {
        display: block;
    }

    .homepage-content iframe {
        margin-bottom: 20px;
        width: 92vw;
        height: 50vw;
    }

    .menu .site-menu a {
        padding: 10px;
        display: block;
        color: black;
        text-decoration: none;
        border-radius: 15px;
        transition: all 0.1s;
    }
}

.menu .links a:hover {
    background-color: rgba(0,0,0,0.15);
}

.menu .site-menu a:hover {
    background-color: rgba(0,0,0,0.15);
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #1a1a1a;
    }

    .menubar {
        background-color: #2f7caf;
    }

    .logo img {
        filter: none;
    }

    .menu-icon-show img {
        filter: invert();
    }

    .menu-icon img {
        filter: invert();
    }

    .menu-logo img {
        filter: none;
    }

    .menu .links a {
        color: white;
    }

    .menu .site-menu a {
        color: white;
    }

    .menu .links.open {
        background-color: #0000008b;
    }

    .menu .site-menu.open {
        background-color: #0000008b;
    }
   
    .menu .links a:hover {
        background-color: rgba(255,255,255,0.25);
    }

    .menu .site-menu a:hover {
        background-color: rgba(255,255,255,0.25);
    }

    a, a:visited {
        text-decoration: none;
        color: #60bfff;
    }

    .list {
        margin: 0 8px 0 8px;
        background-color: black;
        border-radius: 15px;
        box-shadow: #0000004f 0px 4px 12px 2px;
    }

    .list a {
        padding: 10px;
        display: block;
        text-decoration: none;
        border-radius: 15px;
        transition: all 0.1s;
    }

    .list a:hover {
        background-color: rgba(255,255,255,0.10);
    }

    .subtitle-text {
        color: #ffffff8f;
        font-size: 14px;
    }

    .photo-list img {
        border: 3px solid #eb7f22;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
    }

    .footer {
        background: #ffffff1f
    }

.accent-color {
    color: #60bfff  
}
  
.new-year-footer {
    border-radius: 15px;
    padding: 10px;
    background: repeating-linear-gradient(120deg, #f46a614f 15px, #e3e3584f 45px, #87f96e4f 60px, #f46a614f 120px)
}

code, pre {
    font-family: 'Roboto Mono';
    font-size: 12pt;
}

.right-photo  {
    float: right;
    margin: 24px 0 24px 24px;
    border-radius: 8px;
}

h1 {
    margin-top: 28px;
    margin-bottom: 8px;
}
