@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Shantell Sans';
    src: url('fonts/ShantellSans-Regular.eot');
    src: url('fonts/ShantellSans-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/ShantellSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shantell Sans Medium';
    font-weight: 500;
    src: url('fonts/ShantellSans-Medium.eot');
    src: url('fonts/ShantellSans-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/ShantellSans-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Shantell Sans';
    font-weight: 700;
    src: url('fonts/ShantellSans-Bold.eot');
    src: url('fonts/ShantellSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/ShantellSans-Bold.ttf') format('truetype');
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Inter, Roboto, Verdana, Arial Cyr, Arial, DejaVu Sans;
    font-size: 8pt;
}

.subheader {
    background-color: #0000e8;
    font-size: 9pt;
    font-weight: 700;
}

.title-text {
    padding-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 8pt;
    font-weight: 700;
    color: lime;
}

.text {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 11pt;
}

.subtext {
    font-size: 8pt;
    color: white;
}

.menu-links a {
   color: white;
   text-decoration: none;
}

a {
   color: cyan;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    background-color: #00ffff;
    color: #000000;
}

.lime-header {
    background-color: #00ff00;
    color: #000000;
}

.magenta-header {
    background-color: #ff00ff;
    color: #000000;
}

.yellow-header {
    background-color: #ffff00;
    color: #000000;
}

.red-header {
    background-color: #ff0000;
    color: #ffffff;
}

.blue-header {
    background-color: #0000ff;
    color: #ffffff;
}

table {
    font-size: 10pt;
}

.newline {
    margin-top: 8px;
    margin-bottom: 0px;
}

.accent-color {
    color: lime;
}

.title-line {
    color: lime;
    background-color: lime;
}

.full-code {
    text-align: left;
    height: auto;
    border: 1px solid #8f8f8f;
    background-color: #1f1f1f;
    color: #ffffff;
}

.actions-text {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 9pt;
    border: 1px solid #4f4f4f;
    background: #000000;
}

.simple-line {
    border: none;
    color: #8f8f8f;
    background: #8f8f8f;
    margin-bottom: 0;
}

.warning-banner {
    padding: 8px;
    font-size: 9pt;
    background-color: #ffff00;
    color: #000000;
}

.highlight {
    color: #60bfff;
}

.footer {
    font-size: 9pt;
}

.right-photo  {
    float: right;
    margin: 24px 0 24px 24px;
}

.no-top-margins {
    margin-top: 0px;
}

.no-bottom-margins {
    margin-bottom: 0px;
}

.no-vertical-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-sidebar {
    margin-top: 4px;
}
