{% load static %}
		<TABLE width="700" height="75" cellpadding="0" cellspacing="6" border="0" align="center" bgcolor="#000000" class="widgets-frame">
			<TBODY>
				<TR>
						<TD width="164" bgcolor="#0000ff" align="center">
							{% include "include/topbars/main/sections/weather.html" %}
						</TD>
						<TD width="164" bgcolor="#6f00ff" align="center">
							{% include "include/topbars/main/sections/holidays.html" %}
						</TD>
						<TD width="164" align="center"></TD>
						<TD width="164" align="center"></TD>
						<TD align="center"></TD>
					</TR>
			</TBODY>
		</TABLE>