body {
    background-color: #000000;
    color: #ffffff;
    font-family: Inter, Roboto, Verdana, Arial;
    font-size: 8pt;
}

.subheader {
    background-color: #3f3f3f;
    font-size: 9pt;
    font-weight: 700;
}

.title-text {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8pt;
    font-weight: 700;
}

.text {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 11pt;
}

.subtext {
    font-size: 8pt;
    color: #8f8f8f;
}

.menu-links a {
   color: white;
   text-decoration: none;
}

a {
   color: #eb7f22;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    font-size: 10pt;
}

.newline {
    margin-top: 8px;
    margin-bottom: 0px;
}

.accent-color {
    color: #eb7f22;
}

.full-code {
    width: 400px;
    overflow: auto;
    text-align: left;
    border: 1px solid #8f8f8f;
    padding: 8px;
}

.footer {
    font-size: 9pt;
}
