{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
	<HEAD>
		<TITLE>{% block title %}Tinelix{% endblock title %}</TITLE>
		<META name="http-equiv" content="Content-Type: text/html; charset={{ charset }}" charset="{{ charset }}">
		<!--[if IE 5]>
		<LINK rel="stylesheet" href="{% static "styles/ie5.css" %}" type="text/css">
		<![endif]-->
		<LINK rel="stylesheet" href="{% static "styles/main.css" %}" type="text/css">
		<!--[if IE]>
		<SCRIPT src="{% static "scripts/json/json2.js" %}" type="text/javascript"></SCRIPT>
		<![endif]-->
		<SCRIPT src="{% static "scripts/compat.js" %}" type="text/javascript"></SCRIPT>
		<SCRIPT src="{% static "scripts/main.js" %}" type="text/javascript"></SCRIPT>
	</HEAD>
	<BODY bgcolor="#000000" background="{% static "images/backgrounds/default.gif" %}" text="#ffffff" link="#00ffff" alink="#00ffff" vlink="#00ffff" topmargin="0" leftmargin="0" rightmargin="0" onload="onPageLoad()">
		<TABLE width="100%" cellspacing="4" cellpadding="0" bgcolor="#2A2A2A" border="0" class="header-links" align="center">
				<TBODY>
					<TR>
						{% for link in links %}
						{% autoescape off %}
						<TD align="center" width="80">
							<B><A href="{{ link.url|escape }}">{{ link.name|escape }}</A></B>
						</TD>
						{% endautoescape %}
						{% endfor %}
						<TD align="center" width="80" id="sitemap_link">Ещё &raquo;</TD>
						<TD align="center">&nbsp;</TD>
						<TD align="right" width="168">
							<B>{{ current_dt|date:"D, j E" }} &#8226; {{ current_dt|date:"H:i" }}</B>
						</TD>
					</TR>
				</TBODY>
		</TABLE>
		<FORM action="http://192.168.0.22/search" class="clean-form">
		<TABLE width="700" height="80" cellpadding="0" cellspacing="0" class="active-area" align="center">
			<TR>
				<TD width="144" valign="middle">
					<IMG src="{% static "images/logos/default.gif" %}" alt="Tinelix"></IMG>
				</TD>
				<TD align="center" valign="middle">
					<DIV class="search-area">
						<INPUT name="q" type="text" value="Введите запрос для поиска в Интернете..." size="56" id="web_search" class="search-ta">
						<INPUT type="submit" class="search-btn" value="Найти">
					</DIV>
				</TD>
			</TR>
		</TABLE>
		<TABLE width="700" height="75" cellpadding="0" cellspacing="6" border="0" align="center" bgcolor="#000000" class="widgets-frame">
			<TBODY>
				<TR>
						<TD width="164" bgcolor="#0000ff" align="center">
							{% include "include/widgets/weather.html" %}
						</TD>
						<TD width="164" bgcolor="#6f00ff" align="center">
							{% include "include/widgets/holidays.html" %}
						</TD>
						<TD width="164" align="center"></TD>
						<TD width="164" align="center"></TD>
						<TD align="center"></TD>
					</TR>
			</TBODY>
		</TABLE>
		<TABLE class="feed-area" width="700" bordercolor="#00ffff" bgcolor="#181818" cellpadding="4" cellspacing="0" align="center">
				<TBODY>
					<TR>
						<TD width="160" class="feed-left" bgcolor="#181818" align="left" valign="top">{% block left_col %}{% endblock left_col %}
						</TD>
						<TD width="528" class="feed-content" bgcolor="#000000" align="left" valign="top">
							<P class="active-header"><B>{% block header %}{% endblock header %}</B></P>
							<DIV class="feed-content-area">{% block content %}{% endblock content %}</DIV>
						</TD>
					</TR>
				</TBODY>
		</TABLE>
		</FORM>
		{% include "include/footer.html" %}
	</BODY>
</HTML>
