{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
	<HEAD>
		<TITLE>{% block title %}Tinelix{% endblock title %}</TITLE>
		<META name="http-equiv" content="Content-Type: text/html; charset={{ charset }}" charset="{{ charset }}">
		<!--[if IE 5]>
		<LINK rel="stylesheet" href="{% static "styles/ie5.css" %}" type="text/css">
		<![endif]-->
		<LINK rel="stylesheet" href="{% static "styles/main.css" %}" type="text/css">
	</HEAD>
	<BODY bgcolor="#000000" text="#ffffff" link="#00ffff" alink="#00ffff" vlink="#00ffff" topmargin="0" leftmargin="0" rightmargin="0">
		<TABLE width="100%" cellspacing="4" cellpadding="0" bgcolor="#2A2A2A" border="0" class="header-links" align="center">
				<TBODY>
					<TR>
						{% for link in links %}
						{% autoescape off %}
						<TD align="center" width="80">
							<B><A href="{{ link.url|escape }}">{{ link.name|escape }}</A></B>
						</TD>
						{% endautoescape %}
						{% endfor %}
						<TD align="right">
							<B>{{ current_dt|date:"D, d E" }} &#8226; {{ current_dt|date:"H:i" }}</B>
						</TD>
					</TR>
				</TBODY>
		</TABLE>
		<TABLE width="700" cellpadding="0" cellspacing="0" class="active-area" align="center">
			<TR>
				<TD width="144" height="80" valign="middle">
					<IMG src="{% static "images/default/logo.gif" %}" alt="Tinelix"></IMG>
				</TD>
				<TD align="center" valign="middle">
					<FORM action="http://go.tinelix.ru/search" class="search-area">
						<INPUT name="q" type="text" value="Введите запрос для поиска в Интернете..." size="56" id="web_search" class="search-ta">
						<INPUT type="submit" class="search-btn" value="Найти">
					</FORM>
				</TD>
			</TR>
		</TABLE>
		<TABLE width="700" height="75" cellpadding="0" cellspacing="0" border="0" align="center">
			<TBODY>
				<TR>
					<TD>
						<TABLE width="660" cellpadding="0" cellspacing="0">
							<TBODY>
								<TR>
									<TD bgcolor="#0000ff" align="center">
										{% include "include/weather.html" %}
									</TD>
									<TD width="10">&nbsp;&nbsp;</TD>
									<TD bgcolor="#6f00ff" align="center">
										{% include "include/holidays.html" %}
									</TD>
									<TD width="75%"></TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
					<TD width="20"></TD>
				</TR>
			</TBODY>
		</TABLE>
		<P class="small-padding">&nbsp;</P>
		<TABLE class="feed-area" width="700" bordercolor="#00ffff" bgcolor="#181818" cellpadding="4" cellspacing="0" align="center">
				<TBODY>
					<TR>
						<TD width="160" class="feed-left" bgcolor="#181818" align="left" valign="top">
						{% block left_col %}{% endblock left_col %}
						</TD>
						<TD class="feed-content" bgcolor="#000000" align="left" valign="top">
							<DIV class="active-header"><B>{% block header %}{% endblock header %}</B></DIV>
							<DIV class="content-area">{% block content %}{% endblock content %}</DIV>
						</TD>
					</TR>
				</TBODY>
		<TABLE>
	</BODY>
</HTML>
