{% extends "base.html" %}
{% block title %}Tinelix - информационный портал технологий и не только{% endblock title %}
{% block left_col %}
{% include "include/sidebars/search/sidebar.html" %}
{% endblock left_col %}

{% block header %}Поиск в Интернете{% endblock header %}
{% block content %}
{% for result in search_results %}
{% empty %}
<H3>Нет результатов по вашему запросу</H3>
Скорее всего, в нашем поисковой выдаче нет ни одного сайта, содержащий данный запрос.
<P>Вы можете это исправить, сформулировав другой запрос или отправив предложения на почту <A href="mailto:tinelix@mail.ru">tinelix(at)mail.ru</A>.
{% endfor %}
{% endblock content %}
