						<DIV class="feed-left-p1">
							<P class="active-header"><B>Поздравления</B></P>
							<DIV class="feed-left-area">
							{% include "include/sidebars/calendar/sections/celebrations.html" %}
							</DIV>
						</DIV>
						<DIV class="small-padding"></DIV>
						<DIV class="feed-left-p1">
							<P class="active-header"><B>Реклама</B></P>
							<DIV class="feed-left-area">
							{% include "include/sidebars/main/sections/ads.html" %}</DIV>
						</DIV>
						<DIV class="small-padding"></DIV>
						<DIV class="feed-left-p2">
							<P class="active-header"><B>Партнеры</B></P>
							<DIV class="feed-left-area">
							{% include "include/sidebars/main/sections/partners.html" %}</DIV>
						</DIV>
