html, body {
    font-family: Verdana, Tahoma, Arial Cyr, Arial, sans-serif;
    font-size: 9pt;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

input:hover, input:focus {
    border: solid 1px #00ffff;
}

.warning-banner {
    background: #ffff00;
    color: #000000;
    width: 588px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.warning-banner p {
    margin-top: 6px;
}

.header-links, .header-links td {
    font-size: 8pt;
    font-weight: 700;
}

.search-area {
    display: inline;
    text-align: middle;
}

.search-ta {
    color: #ffffff;
    width: 400px;
    background-color: #202020;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 10pt;
    border: solid #404040 1px;
    width: 380px;
    padding: 2px;
    height: 16px;
}

.search-btn {
    font-weight: 700;
    color: #00ffff;
    background-color: #202020;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 10pt;
    border: solid #404040 1px;
    width: 72px;
    height: 22px;
}

.search-ta:hover, .search-ta:focus, .search-btn:hover {
    border: solid #00ffff 1px;
}

.active-header {
    font-size: 10pt;
    background: #00ffff;
    background-color: #00ffff;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active-subheader {
    font-size: 10pt;
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 4px;
}

.weather-widget, .holidays-widget {
    font-size: 8pt;
}

.weather-city {
    font-weight: 700;
    font-size: 8pt;
}

.weather-region {
    font-size: 8pt;
}

.weather-temp {
    font-size: 18pt;
    font-weight: 500;
}

.holidays-link {
   color: #ffff00;
}

.feed-area {
    background-color: #000000;
    border: solid 1px #00ffff;
}

.small-padding {
    margin-top: 4px;
    margin-bottom: 4px;
}

.feed-left {
    font-size: 8pt;
    margin-bottom: 8px;
}

.feed-left h2, .content h2 {
    font-size: 10pt;
}

.feed-left h6, .content h6 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 7pt;
    color: #AFAFAF;
}

.feed-left-summary {
    padding-left: 4px;
    padding-right: 4px;
}

.feed-content {
    font-size: 10pt;
}

.feed-content-area {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.feed-content-area p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.feed-top {
    padding-bottom: 16px;
}

.feed-footer-p1 {
    color: #a0a0a0;
    font-size: 7pt;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.feed-footer-p2 {
    color: #a0a0a0;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.feed-subtitle a {
    color: #808080;
}

.feed-banner-margin {
    margin-top: 3px;
}

.feed-bottom-link {
    margin-top: 3px;
    margin-bottom: 3px;
}

.vertical-banner {
    margin-top: 0px;
    margin-bottom: 4px;
}
