body, font {
    font-family: Verdana, Tahoma, Arial Cyr, Arial, sans-serif;
    font-size: 10pt;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

input {
    background-color: #202020;
    background: #202020;
    color: #00ffff;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10pt;
    border: solid #404040 1px;
}

input:hover, input:focus {
    border: solid #00ffff 1px;
}

.warning_banner {
    background: #ffff00;
    color: #000000;
    width: 588px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.warning_banner p {
    margin-top: 6px;
}

.header_links {
    font-size: 8pt;
    font-weight: 700;
}

.search_area {
    display: inline;
    text-align: middle;
}

.search_ta {
    color: #ffffff;
    padding: 2px;
    height: 16px;
    width: 400px;
}

.search_btn {
    font-weight: 700;
    width: 70px;
    height: 22px;
}

.active_area {
    margin: auto;
}

.active_header {
    font-size: 10pt;
    background: #00ffff;
    background-color: #00ffff;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active_subheader {
    font-size: 10pt;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
}

.weather_widget, .holidays_widget {
    font-size: 8pt;
}

.weather_city {
    display: block;
    font-weight: 700;
    font-size: 8pt;
}

.weather_region {
    font-size: 8pt;
}

.weather_temp {
    font-size: 18pt;
    font-weight: 500;
}

.holidays_link {
   color: #ffff00;
}

.feed_area {
    background-color: #000000;
    border: solid 1px #00ffff;
}

.feed_left {
    font-size: 8pt;
    padding: 4px;
}

.feed_left h2, .content h2 {
    font-size: 10pt;
}

.feed_left h6, .content h6 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 7pt;
    color: #AFAFAF;
}

.feed_content {
    font-size: 10pt;
    padding: 4px;
}

.content_area {
    padding-left: 4px;
    padding-right: 4px;
}

.feed_top {
    padding-bottom: 16px;
}

.feed_subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #808080;
    font-size: 8pt;
}

.feed_subtitle a {
    color: #808080;
}

.feed_banner_margin {
    margin-top: 3px;
}

.feed_bottom_link {
    margin-top: 3px;
    margin-bottom: 6px;
}
