body {
    font-family: Verdana, Tahoma, Arial;
    font-size: 10pt;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

p {
    margin-top: 8px;
}

input {
    background-color: #202020;
    background: #202020;
    color: #00ffff;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10pt;
    border: solid #404040 1px;
}

input:hover, input:focus {
    border: solid #00ffff 1px;
}

.warning_banner {
    background: #ffff00;
    color: #000000;
    width: 588px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.warning_banner p {
    margin-top: 6px;
}

.header-links {
    background-color: #2A2A2A;
    font-size: 8pt;
    font-weight: 700;
}

.search_area {
    display: inline;
    text-align: middle;
}

.search_ta {
    color: #ffffff;
    padding: 2px;
    height: 22px;
    width: 420px;
}

.search_btn {
    font-weight: 700;
    width: 70px;
    height: 22px;
}

.today_widget {
    background: #0000ff;
    padding: 6px;
}

.today_widget p {
    margin-top: 4px;
    margin-bottom: 2px;
}

.weather_city {
    display: block;
    font-weight: 700;
    font-size: 8pt;
}

.weather_region {
    font-size: 8pt;
}

.weather_temp {
    font-size: 18pt;
    font-weight: 500;
}

.weather_link {
    font-size: 8pt;
}

.feed_left {
    font-size: 8pt;
}

.feed_left h4 {
    font-size: 12pt;
}

.feed_left h5 {
    font-size: 10pt;
}

.feed_left h6 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 7pt;
    color: #AFAFAF;
}

.content {
    font-size: 10pt;
}

.content h4 {
    font-size: 12pt;
}

.content h5 {
    font-size: 10pt;
}

.content h6 {
    font-size: 7pt;
    color: #AFAFAF;
}

.feed_top {
    padding-bottom: 16px;
}

.feed_title_primary {
    margin-bottom: 8px;
}

.feed_title_secondary {
    margin-top: 8px;
    margin-bottom: 8px;
}

.feed_subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #808080;
    font-size: 8pt;
}

.feed_subtitle a {
    color: #808080;
}
