html, body {
    font-family: Verdana, Tahoma, Arial Cyr, Arial, sans-serif;
    font-size: 9pt;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

.warning-banner {
    background: #ffff00;
    color: #000000;
    width: 588px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.warning-banner p {
    margin-top: 6px;
}

.header-links, .header-links td {
    font-size: 8pt;
    font-weight: 700;
}

.clean-form {
    margin: 0px;
    padding: 0px;
}

.search-area {
    display: inline;
    text-align: middle;
}

.search-ta {
    color: #ffffff;
    width: 400px;
    background-color: #202020;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 10pt;
    border: solid #404040 1px;
    width: 380px;
    padding: 2px;
    height: 16px;
}

.search-btn {
    font-weight: 700;
    color: #00ffff;
    background-color: #202020;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 10pt;
    border: solid #404040 1px;
    width: 72px;
    height: 22px;
}

.input-radio, .input-cb {
    margin-bottom: 2px;
    margin-top: 5px;
}

.input-radio input[type=radio], .input-cb input[type=checkbox] {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding: 0px;
    vertical-align: middle;
}

.input-radio input[type=radio]:checked, .input-cb input[type=checkbox]:checked {
    accent-color: #00ffff;
}

.input-radio input[type=radio]::before, .input-cb input[type=checkbox]::before {
    padding-top: 2px;
}

.input-radio input[type=radio] + label, .input-cb input[type=checkbox] + label {
    margin-left: 2px;
    vertical-align: middle;
}

.search-ta:hover, .search-ta:focus, .search-ta:hover, .search-ta:focus, .search-btn:hover, .search-btn:focus {
    border: solid #00ffff 1px;
}

.active-header {
    font-size: 10pt;
    background: #00ffff;
    background-color: #00ffff;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active-subheader {
    font-size: 10pt;
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 4px;
}

.resizeable-subheader {
    font-size: 10pt;
    padding-left: 4px;
    margin-top: 8px;
    margin-bottom: 2px;
}

.widgets-frame {
    border-left: 1px solid #00ffff;
    border-right: 1px solid #00ffff;
    border-top: 1px solid #00ffff;
}

.widget-link {
    font-size: 8pt;
}

.weather-widget, .holidays-widget {
    font-size: 8pt;
}

.weather-city {
    font-weight: 700;
    font-size: 8pt;
}

.weather-region {
    font-size: 8pt;
}

.weather-temp {
    font-size: 18pt;
    font-weight: 500;
}

.holidays-link {
   color: #ffff00;
}

.feed-area {
    border: solid 1px #00ffff;
}

.small-padding {
    margin-top: 4px;
    margin-bottom: 4px;
}

.feed-left-p1 {
    font-size: 8pt;
    margin-bottom: 8px;
}

.feed-left-p2 {
    font-size: 8pt;
    margin-bottom: 2px;
}

.feed-left-p1 h2, .feed-left-p2 h2, .content h2 {
    font-size: 10pt;
}

.feed-left-p1 h6, .feed-left-p2 h6, .content h6 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 7pt;
    color: #AFAFAF;
}

.feed-left-summary {
    padding-left: 4px;
    padding-right: 4px;
}

.feed-content {
    font-size: 10pt;
}

.feed-content-area {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.feed-content-area p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.feed-top {
    padding-bottom: 16px;
}

.feed-left-footer-p1 {
    color: #a0a0a0;
    font-size: 7pt;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.feed-left-footer-p2 {
    color: #a0a0a0;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.feed-subtitle a {
    color: #808080;
}

.feed-footer {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
    background: #000000aa;
    color: #a0a0a0;
    font-size: 8pt;
}

.feed-footer td {
    background-color: #000000;
}

.feed-footer p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.feed-banner-margin {
    margin-top: 3px;
}

.feed-bottom-link {
    margin-top: 3px;
    margin-bottom: 3px;
}

.vertical-banner {
    margin-top: 0px;
    margin-bottom: 4px;
}
